*.pyc
COMA/__pycache__
DATA/qed
DATA/drd2
DATA/logp04
DATA/logp06
DATA/abcg2
.ipynb_checkpoints
Tutorial_1_DRD2/.ipynb_checkpoints
Tutorial_2_QED/.ipynb_checkpoints
Tutorial_3_LOGP04/.ipynb_checkpoints
Tutorial_4_LOGP06/.ipynb_checkpoints
Tutorial_5_ABLATION/.ipynb_checkpoints
Tutorial_6_ABCG2/.ipynb_checkpoints
Tutorial_7_ANOTHER_METRIC_LOSS/.ipynb_checkpoints
Tutorial_8_ANOTHER_CONTRASTIVE_LOSS/.ipynb_checkpoints

